/Tema 2/Prácticas/Entrega/Inicio/nbproject/private/
/Tema 2/Prácticas/Entrega/Inicio/build/
/Tema 2/Prácticas/PracticaTema2/nbproject/private/
/Tema 2/Prácticas/PracticaTema2/build/
/Tema 2/Prácticas/Tema 2/nbproject/private/
/Tema 2/Prácticas/Tema 2/build/
/Tema 2/Prácticas/Tema 2/dist/